@media handheld {
}
@media screen {
  body { margin:1em 2em; }
}
body { font-family:Verdana,Arial,Helvetica; }
A { text-decoration:none; }
div#card { text-align:center; }
#source { margin-bottom:1em; }
#buttons { padding:1em; }
#dict { padding:0.6em; font-weight:bold; } 

#en { font-size:2em; color:silver; font-style:italic; }
#la { font-size:2em; color:#3E4349; }
.clue { font-size:5em; font-weight:bold; }
#ja {
  font-family:"Hiragino Kaku Gothic Std","Mplus";
  font-size:3em;
}
#zh {
  font-family:"STKaiti","serif";
  font-size:10em;
}

#order { padding:1em; color:silver; }
#order b { color:black; } 

TABLE.source { border-collapse:collapse; margin:0 1em; }
TABLE.source TR:hover { background:lavender; }
TABLE.source TD { border:1px solid silver; padding:0.1em 0.4em; }

@font-face {
  /* http://mplus-fonts.sourceforge.jp/webfonts/ */
  src: url(http://mplus-fonts.sourceforge.jp/webfonts/mplus-2c-black.ttf) format("truetype");
  font-family: "Mplus";
}
