body {
  font-family:Verdana,Arial,Helvetica;
}
div#card {
  text-align:center;
}
div#index {
    margin-left:25%;
    width:50%;
}
#source,#pager,#order { 
}
#buttons {
  padding:1em;
}
#dict { 
  padding:0.6em; 
  font-weight:bold; 
} 
#dict A { 
  text-decoration:none; 
}
#ja {
  font-family:"Hiragino Kaku Gothic Std","serif";
}
#zh {
  font-family:"Kai","serif";
  font-size:10em;
}
#rj { 
  font-size:4em;
  color:#3E4349;
}
#en {
  font-size:3em;
  color:silver;
  font-style:italic;
}
.clue {
  font-size:6em;
  font-weight:bold;
}
#order {
  padding:1em;
  color:silver;
}
#order b { color:black; } 