<!DOCTYPE HTML>
<head>
<link rel="stylesheet" type="text/css" href="{{base}}/static/style.css"></link>
<script src="{{base}}/static/script.js"></script>
<title>Flashcards: {{meta.deck}}</title>
</head>
<body onload="init('{{clue}}');">
<div id="card">
<div id="source">
{{meta.source}}<br />
Section:{{meta.section}} 
Level:{{meta.level}}
</div>
<div id="buttons">
{% if clue != "ja" %}
    <input type="button" onclick="toggle('ja');" value="Japanese"/>
{% endif %}
{% if clue != "rj" %}
    <input type="button" onclick="toggle('rj');" value="Romaji"/>
{% endif %}
{% if clue != "en" %}
    <input type="button" onclick="toggle('en');" value="English"/>
{% endif %}
<span id="dict"><a target="_blank" href="{{meta.dict}}">dict</a></span>
</div>
<div id="ja" style="display:none;">{{ card.ja }}</div>
<div id="rj" style="display:none;">{{ card.rj }}</div>
<div id="en" style="display:none;">{{ card.en }}</div>
</div>
</body>
