<!DOCTYPE HTML>
<head>
<title>Flashcards: {{meta.deck}} ({{card.count}})</title>
<link rel="stylesheet" type="text/css" href="{{base}}/static/style.css"></link>
<script src="{{base}}/static/jquery.js"></script>
<script src="{{base}}/static/script.js"></script>
</head>
<body>
{% if msg %}<div id="msg">{{msg}}</div>{% endif %}
<div id="card" deck="{{meta.deck}}" clue="{{clue}}">
<div id="source">
<a href="{{base}}/{{meta.jsonurl}}">{{meta.source}}</a> 
</div>

<div id="pager">
 (<span id="num"></span>/<span id="count"></span>)
 <input type="button" id="prev" value="prev"></input>
 <input type="button" id="next" value="next"></input>
</div>

<div id="buttons">
{% for cl in card.clues %}
    {% if not clue==cl %}
        <input type="button" onclick="toggle('{{cl}}');" value="{{cl}}"/>
    {% endif %}
{% endfor %}
<span id="dict" lang="{{meta.lang}}"></span>
</div>

<!-- clue on top -->
<div id="{{clue}}" class="clue"></div>

{% for cl in card.clues %}
    {% if not cl==clue %}
        <div id="{{cl}}" style="display:none;" class="notclue"></div>
    {% endif %}
{% endfor %}

<div id="order"></div>
<div id="msg"></div>

</div>
</body>
