<!doctype html>
<head>
<title>flashcards</title>
<link rel="stylesheet" type="text/css" href="{{base}}/static/style.css"></link>
</head>
<body>
<div id="index">
{% if msg %}<div id="msg">{{msg}}</div>{% endif %}
{% set count=0 %}
{% set prev_lang="" %}
{% for deck in decks %}
    {% if not deck.meta.lang == prev_lang %}
        {% if count > 0 %}</ol>{% endif %}
        <h1>{{deck.meta.langstr}}</h1>
        <i>level-section Source | [clues] &ndash; ncards</i>
        <ol>
    {% endif %}
    <li>{{deck.meta.level}}-{{deck.meta.section}}
    <a href="{{base}}/{{deck.key}}">{{deck.meta.source}}</a>
    {% for clue in deck.meta.clues %}
        {% if not clue == deck.meta.lang %}
            | <a href="{{base}}/{{deck.key}}/{{clue}}">{{clue}}</a>
        {% endif %}
    {% endfor %}
    &ndash; {{deck.meta.count}} cards
    </li>
    {% set prev_lang=deck.meta.lang %}
    {% set count=count+1 %}
{% endfor %}
</ol>
<p><a href="https://github.com/siznax/flashcards">github.com/siznax/flashcards</a></p>
</div>
</body>
</html>
